

#container{
    /* border: 1px solid red; */
    margin: auto;
    width: 300px;
    height: 400px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 60px;
}

#subcontainer  {
    /* border: 1px solid green; */
    width: 270px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    margin-left: 15px;
   


   
}
#subcontainer div {
    /* border: 1px solid red; */
    text-align: center;
    /* padding-top: 40%; */
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* margin-left: 20px; */
    
   
}
input{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top: auto;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    border: none;
}
button{
   height: 50px;
   width: 100%;
   border-radius: 10px;
   border: none;
   font-size: 20px;
}
#subcontainer div:nth-child(4) button 
{
    background-color: black;
    color: aliceblue;
}
#subcontainer div:nth-child(8) button 
{
    background-color: black;
    color: aliceblue;
}
#subcontainer div:nth-child(12) button 
{
    background-color: black;
    color: aliceblue;
}
#subcontainer div:nth-child(16) button 
{
    background-color: black;
    color: aliceblue;
}
#subcontainer div:nth-child(15) button 
{
    background-color: black;
    color: aliceblue;
}
#subcontainer div:nth-child(13) button 
{
    background-color: red;
    color: aliceblue;
}